<!DOCTYPE html>
<html>
<title>Oka Yönetim  Paneli</title>
<header>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</header>
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">

        <a href="#"><img src="~/okalogo.png" style=" width:100%" /></a>
        <h3 class="w3-bar-item">Oka Yönetim</h3>
        <a  class="w3-bar-item w3-button " asp-controller="Home" asp-action="Index">Ana Sayfa</a>
        <a class="w3-bar-item w3-button" asp-controller="Musteriler" asp-action="Musteriler">Müşteriler</a>
        <a  class="w3-bar-item w3-button" asp-controller="MusteriEkle" asp-action="MusteriEkle"> Müşteri Ekle </a>
        <a  class="w3-bar-item w3-button" asp-controller="UrunKatalogu" asp-action="UrunKatalogu">Ürün Kataloğu</a>
        <a  class="w3-bar-item w3-button" asp-controller="UrunEkle" asp-action="UrunEkle">Ürün Ekle</a>
        <a  class="w3-bar-item w3-button" asp-controller="KullaniciYonetimi" asp-action="KullaniciYonetimi"> Kullanıcı Yönetimi </a>
        <a  class="w3-bar-item w3-button" asp-controller="IletisimFormu" asp-action="IletisimFormu"> İletişim </a>
        <a  class="w3-bar-item w3-button btn-danger" asp-controller="CikisYap" asp-action="CikisYap">Çıkış Yap</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container w3-teal" style="background-image:linear-gradient(120deg,#3400,#8e44ab);">
            <h1>Yönetim Paneli</h1>
        </div>


        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

</body>
</html>
