<table class="table table-bordered mt-3">
<tr>
    <th> Id</th>
    <th> Araba Markası</th>
    <th> Servisler </th>
    <th> Sil</th>
</tr>
<tr>
    <td>1</td>
    <td>Araba Markası</td>

    <td><a asp-controller="MDuzenle" asp-action="Servis"  class="btn btn-primary">Servis</a></td>
    <td><a asp-controller="MDuzenle" asp-action="Sil"  class="btn btn-danger">Sil</a></td>

</tr>

</table>