
<table class="table table-bordered mt-3">
    <tr>
        <th> Id</th>
        <th> Müşteri</th>
        <th> Telefon</th>




        <th> Düzenle</th>
        <th> Sil</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Müşteri</td>
        <th> Telefon</th>



        <td><a asp-controller="MDetay" asp-action="MDetay" class="btn btn-primary ">Detay</a></td>
        <td><a class="btn btn-danger">Sil</a></td>
    </tr>


</table>