<table class="table table-bordered mt-3"
 <tr>
   <th> Ürün Adı</th>
   <th> Stok</th>
   <th> Birim Fiyat</th>
   <th> Düzenle</th>
   <th> Sil</th>
</tr>
    <tr>
        <td>1</td>
        <td>Müşteri</td>
        <td>Tarih</td>
        <td>Plaka</td>
        <td>Şase No</td>
        <td><a href="#"  class="btn btn-primary">Düzenle</a></td>
        <td><a href="#"  class="btn btn-danger">Sil</a></td>
    </tr>


 </table>